<nav>
  <li><a [routerLink]="['']" routerLinkActive="active" >index</a></li>
</nav>

<ul>
  <li><a target="_blank" href="https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7">How to define a highly scalable folder structure for your Angular project </a></li>
  <li><a target="_blank" href="http://tldp.org/LDP/Bash-Beginners-Guide/html/">Bash Guide for Beginners</a></li>
  <li><a target="_blank" href="http://tldp.org/LDP/intro-linux/html/">Introduction to Linux</a></li>
</ul>
